jj

<% if user_signed_in? %>
        <div class="col-4 d-flex justify-content-end align-items-center">
        
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
       <% else %>
       <div class="col-4 d-flex justify-content-end align-items-center">
         <a class="btn btn-sm btn-outline-secondary" href="/users/sign_up">新規登録</a>
         <a class="btn btn-sm btn-outline-secondary" href="/users/sign_in">ログイン</a>
     <%#= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
      <% end %>
      </div>
    </div>